
  {%- if site.settings.footer_menu_html == "" -%}
    {% render "footer1" %}
  {% else %}
    <div class="mx-auto max-w-5xl border-t mt-4 p-4 print:hidden">
      {{ site.settings.footer_menu_html }}
    </div>
  {% endif %}
</div>
