{% assign pages = page.children_in_list %}
{% assign thumb = 'images/thumbnail.png' | asset_url %}

<div class="bg-accent/30 dark:bg-slate-700">
  <div class="py-4 mx-auto truncate max-w-7xl">
    {% render 'breadcrumb', breadcrumb: page.breadcrumb %}
  </div>
</div>

<!-- component -->
<section class="mx-auto max-w-5xl">
  <div class="container px-5 py-4 mx-auto">
    <div class="text-center items-center mb-6">
      <h1 class="sm:text-3xl text-2xl font-medium text-center title-font text-gray-900 mb-4">
        {{ page.settings.title }}
      </h1>
      <p class="text-base leading-relaxed xl:w-2/4 lg:w-3/4 mx-auto">
        {{ page.settings.description }}
      </p>
    </div>
    <div class="flex flex-wrap lg:w-4/5 sm:mx-auto sm:mb-2 -mx-2">
      {%# 分页 %}
      {% paginate_tag pages, per: 24 %}
        {% for sub_page in pages %}
          <div class="w-full">
            <details class="mb-4">
              <summary class="flex-wrap font-semibold bg-gray-200 rounded-md py-2 px-4">
                <span class="break-normal">{{ sub_page.settings.title }}</span>
              </summary>

              <div class="overflow-auto">
                <div class="ProseMirror prose sm:prose-base lg:prose-md focus:outline-none dark:prose-invert text-wrap break-normal flex-wrap">
                  {{ sub_page.settings.content }}
                </div>
              </div>
              
            </details>
          </div>
        {% endfor %}
        <!-- Pagination -->
        <div class="w-full text-right block">
          {% render 'paginate', paginate: paginate %}
        </div>
      {% endpaginate_tag %}


    </div>
  </div>
</section>


{% schema %}
  {
    "name": "FAQ",
    "thumb_url": "images/theme/faq.png",
    "description": "FAQ常见问题折叠列表",
    "sub_page_templates": ["faq_detail"],
    "settings": [
      {
        "id": "title",
        "type": "text",
        "placeholder": "",
        "label": "标题"
      },
      {
        "id": "description",
        "type": "textarea",
        "label": "描述"
      },
      {
          "id": "icon",
          "type": "image_picker",
          "ratio": "1:1",
          "width": 60,
          "label": "图标"
      },
      {
        "id": "recommend_to_index",
        "type": "checkbox",
        "label": "推荐到首页展示",
        "default": false
      }
    ]
  }
{% endschema%}