@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --default-avatar-url: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='currentColor'%3E%3Cpath d='M20 22H4V20C4 17.2386 6.23858 15 9 15H15C17.7614 15 20 17.2386 20 20V22ZM12 13C8.68629 13 6 10.3137 6 7C6 3.68629 8.68629 1 12 1C15.3137 1 18 3.68629 18 7C18 10.3137 15.3137 13 12 13Z'%3E%3C/path%3E%3C/svg%3E");
    --avatar-url: var(--default-avatar-url);
  }

  /* == scrollbar style start */
  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--secondary) var(--primary);
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 15px;
  }

  *::-webkit-scrollbar-track {
    background: var(--primary);
    border-radius: 5px;
  }

  *::-webkit-scrollbar-thumb {
    background-color: var(--secondary);
    border-radius: 14px;
    border: 3px solid var(--primary);
  }

  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  /* == scrollbar style end */

  /* Scrollspy links */
  [data-scrollspy-link] {
    @apply font-normal text-slate-600 dark:text-slate-400;
  }

  [data-scrollspy-link].scrollspy-active {
    @apply font-medium text-blue-600 before:bg-blue-400;
  }
  /* Search Result Highlight */
  .search-highlight-block b {
    color: hsl(var(--theme-color-primary));
  }
}

@layer components{
  #page-tree a.active {
    text-shadow: 0 0 rgba(0, 0, 0, 0);
  }

  #page-tree::-webkit-scrollbar,
  #page-tree::-webkit-scrollbar-thumb {
    display: none
  }

  #page-tree::-webkit-scrollbar{
    /* width: 7px;
    background-color: #f6f6f6; */
    display: none
  }

  #page-tree::-webkit-scrollbar-thumb {
    /* box-shadow: inset 0 0 0 10px; */
    display: none
  }

  .page-tree--node {
    padding: 0.55rem 0;
  }

  .page-tree--node > a {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  .page-tree--node.article > a {
    padding-left: 1.5rem;
  }
  .page-tree--node > a.active {
    color: var(--color-primary);
  }

  .page-tree--node.active > a > .page-tree--nav__article_point {
    display: flex;
  }

  .avatar {
    @apply h-6 w-6 rounded-full bg-gray-100 bg-cover bg-center;
    /* 当用户头像地址打不开时，会用默认头像地址显示 */
    background-image: var(--avatar-url), var(--default-avatar-url);
  }
}
